.product-set {
  top: 90px;
  z-index: 5;
  position: relative;
  display: grid;
  // grid-template-columns: auto auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(240px, 348px));

  padding: 0rem 1rem;
  margin: 0rem 2rem;
  align-items: center;
  overflow: auto;
//  background-color: blue;
  
  .item-card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 1rem 1rem;
    height: 337px;
    box-shadow: 4px 4px 19px 0px rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 2rem 2rem;
    // background-color: pink;

    .image img{
        height: 200px;
        width: 230px;
        border-radius: 5px;
        
        // margin-top: ;
    }

    .text {
      padding: .2rem;
    }
   
    .card-buttons{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 11px 0px;
      .btn{
        height:40px;
        width: 75px;
        border:none;
        border-radius: 15px;
        background-color: black;
        color:white;
       
      }
      .btn:hover{
        color:rgb(93, 214, 230);
        cursor: pointer;
      }
      .order{
     
      }
    }
    .icon-fav {
      float: right;
      font-size: 30px;
      height: 27px;
      width: 30px;
      margin:0 10px 10px 0;
      color: lightgray;
      cursor: pointer;
    }

    .icon-fav-active {
      float: right;
      font-size: 30px;
      height: 27px;
      width: 30px;
      margin:0 10px 10px 0;
      color: rgb(34, 176, 194);
      cursor: pointer;
    }

    
  }

  .item-card:hover {
    background-color: whitesmoke;
  }
}



@media(max-width:1000px) {
  .product-set {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .product-set {
    grid-template-columns: auto;
  }
}
